<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.st3.coinquiapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/coinquiapp_logo"
        android:label="CoinquiApp"
        android:roundIcon="@mipmap/coinquiapp_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PersonalArea"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Turni"
            android:label="Turni"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SpesePersonali"
            android:label="Spese personali"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ModificaProfilo"
            android:label="Modifica profilo"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.Utenze"
            android:label="Utenze"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Registrazione"
            android:label="Registrazione" />
        <activity
            android:name=".activity.ChoiseGroupHome"
            android:label="Gruppo-Casa" />
        <activity
            android:name=".activity.CreateNewGroupHome"
            android:label="Crea nuovo Gruppo-Casa"></activity>
        <activity
            android:name=".activity.Login_principale"
            android:label=""
            android:src="@mipmap/logo"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".activity.Spese"
            android:label="Spese"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activity.SpashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UtenzeText"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.BachecaActivity"
            android:screenOrientation="portrait"
            android:label="Bacheca"></activity>
    </application>

</manifest>